.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .slide-in-card {
    width: 100%;
    height: 50vh; /* 50% of viewport height */
    opacity: 1;
    transform: translateX(900px); /* Slide down effect */
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .slide-in-card.visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  .card {
    width: 80%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  