/* styles.css

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    margin-left: 270px;
  }
  
  form {
    max-width: 400px;
    margin-left: 200px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .icons {
    opacity: 80%;
    color: #ffffff;
  }
  
  .services-offer {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%236c757d"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px 16px;
    cursor: pointer;
  }
  
  .services-offer:focus {
    outline: none;
    border-color: #3c57df;
    border: solid #3c57df;
  }
  
  .option {
    padding: 8px;
  }
  
 
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
  }

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40vmin;
    z-index: -1;
  }
  
  video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .contact-about {
    width: 800px;
    margin-left: 120px;
  }
  
  .main {
    height: 100vh;
    width:100vw; 
  }
  
  .contact-form {
    width: 600px;
    margin-left: 50px;
  }
  
  .logo {
    flex: 1;
  }
  
  .icon-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .icon-links a {
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .icon-links img {
    width: 50px;
    height: 50px;
  }
  
  .icon-links a:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width: 500px) {
    form {
      max-width: 60%;
      padding-left: 10px; 
      display:auto;
    }
  
    input[type="text"],
    input[type="email"],
    textarea {
      width: auto;
    }
    .services-offer{
      width: auto;
    }
    .icon-links{
      width: auto;
    }
    button[type="submit"] {
      width: auto; 
    }
  .contact-form{
    width: auto;
  }
  
  }
   */

/* .contact-bg{
    margin:0 0;
    padding:0;
    background-image: url('../../assets/contact-background.jpg');
    width:100vw;
    background-size: cover;
    background-repeat: no-repeat;
} */