.footer-wrapper {
  padding: 20px;
  color: #fff;
  flex-wrap: wrap;
  /* Allow items to wrap */
}

.footer-icons {
  display: flex;
  font-size: 40px;
  gap: 10px;
  margin-top: 10px;
}
#footer {
  background-color: blue;
  padding: 50px 0;
}
.whatsapp-icon {
  font-size: 40px; /* Adjust the font size as needed */
}


h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.separator {
  width: 50%;
  height: 2px;
  background-color: #333;
  margin: 10px 0;
}

.social-media {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.footer-copyright p {
  font-size: 14px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}
